<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\(", "\)"] ],
        displayMath: [ ['$$', '$$'], ["\[", "\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
<table style="border: 0; margin: 0;">
  <tr>
    <td align="center" style="align: center; width: 33%;"><a href="/feed.xml">RSS</a></td>
    <td align="center" style="align: center; width: 33%;"><a href="https://github.com/breese/">GitHub</a></td>
    <td align="center" style="align: center; width: 33%;"><a href="https://www.linkedin.com/pub/bj%C3%B8rn-reese/1/660/846">LinkedIn</a></td>
  </tr>
</table>
