h2, h3 {
    color: #A52025;
}

h4 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 0;
    line-height: 1;
    color: #A52025;
}

body {
    color: #444;
    background-color: #F8F8F8;
}

table {
    width: 55%;
    margin-top: 1rem;
    font-size: 1rem;
    align: left;
    // text-align: left;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

ul {
    width: 53%;
    font-size: 1.1rem;
    padding-left: 2rem;
    list-style-type: circle;
}

ol {
    width: 53%;
    font-size: 1.2rem;
    padding-left: 2rem;
    list-style-type: lower-roman;
}

.postdate {
    width: 55%;
    text-align: center;
    color: #777;
}

span.postdateseparator {
    width: 55%;
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

/* Syntax highlighting */

figure.highlight {
    border: 1px solid #b6b6b6;
    padding-left: 20px;
    background: #e5e5e5;
    width: 53%;
    box-shadow: 4px 4px #c8c8c8;
}

/*pre.lineno {
    color: #808080;
    font-size: 80%;
}*/

/* Should be moved to tufte.css */

/*li {
    width: 53%;
    margin: 0 0 0.5rem 0;
}*/

hr {
    width: 55%;
    margin: 0 0 0 0;
    text-align: left;
}

.overline {
    text-decoration: overline;
    text-decoration-color: inherit p;
}

.quote {
    color: #777;
    background: #e5e5e5;
    width: 53%;
    font-size: 80%;
    box-shadow: 7px 6px #ccc;
}

.normalimage {
    width: 55%;
    margin-top: 1rem;
    font-size: 1rem;
    align: center;
    text-align: center;
}

.marginimage {
    width: 40%;
    margin-top: 1rem;
    font-size: 1rem;
    align: center;
    text-align: center;
    float: right;
}

.margintext {
    width: 40%;
    margin-top: 1rem;
    font-size: 1rem;
    align: left;
    text-align: left;
    float: right;
}

.eqnarray {
    font-size: 90%;
}
